services:

  redis:
    image: "redis:8.0-alpine"
    expose:
      - "6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    deploy:
      resources:
        limits:
          memory: 512M

  app:
    build:
      context: ./app
    depends_on:
      - redis
    volumes:
      - ./app:/app
      - app_volume:/vol/app
    ports:
      - "8000:8000"
    env_file:
      - dev.env
    command: [ "fastapi", "dev", "main.py", "--host", "0.0.0.0", "--port", "8000", "--reload" ]

volumes:
  app_volume:
  redis_data: